* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow: hidden;
}


/* NAVBAR */
.navbar-nav li a{
    color: white;
     font-size: 20px; 
}
.navbar img{
    width: 60px;
    border-radius: 50%;
    
}

::-webkit-scrollbar{
    display: none;
}



.container .image img {
    width: 45%;
    position: absolute;
    top: 20%;
    left: 70px;
}


p {
    font-size: 1.3rem;
    color: white;
    letter-spacing: 1px;
}


/* SIZE OPTION */
.sizes {
    display: grid;
    color: #364374;
    grid-template-columns: repeat(auto-fill, 55px);
    width: 60%;
    grid-gap: 10px;
    margin-left: 90px;
    margin-top: 5px;
}

.sizes:hover {
    cursor: pointer;
}

.pick {
    margin-top: 43%;
    margin-bottom: 0;
    margin-left: 90px;
    color: #364374;
}

.size {
    padding: 9px;
    border: 2px solid #364374;
    text-align: center;
    font-size: 0.9rem;
}

.size:hover {
    background: #364374;
    color: white;
    transition: all 0.4s ease-in-out;
}


/* PRODUCT AND DESCRIPTION  */
.product h1 {
    /* font-size: 1.2em; */
    /* color: #4e4e4e; */
    margin-top: -5px;
}

.product h2 {
    color: #e188bb;
    margin-top: -5px;
}

.product {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 30%;
    left: 55%;
}

.desc {
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    /* color: #4e4e4e; */
    /* font-size: 0.7em; */
    line-height: 1.6em;
    margin-right: 25px;
    text-align: justify;
}

/* BUTTON */
.add {
    width: 20%;
}

.like {
    width: 7%;
}

button:hover {
    background: #328A77;
    color: white;
    transition: all 0.4s ease-in-out;
}


button {
    background: #7be364;
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    cursor: pointer;
}




/* Hover Dropdown */

.nav-link {
    color: white;
    border: none;
}


.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    border-radius: 50px;
    /* z-index: 1; */
}


.dropdown-content a {
    color: black;
    padding: 20px 25px;
    text-decoration: none;
    display: flex;

}

.dropdown-content a:hover {
    border-radius: 50px;
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    position: absolute;
    right: -170px;
    display: flex;
    flex-direction: row;

}